html {
  /* for Firefox */
  /* for Firefox */
}
html ::-webkit-scrollbar {
  width: 0.8rem;
}
html ::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 0.5rem;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #757575;
}
html html {
  scrollbar-color: #3d4a59;
}
html html {
  scrollbar-color: #9e4673 #3d4a59;
}
html body #go-to-top {
  display: none;
  color: white;
  bottom: 15px !important;
}
html body #alert-con {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 999999;
}
html body #add-post svg {
  cursor: pointer;
}
html body header {
  box-shadow: #9c9c9c 0px -1px 8px 0px;
}
html body header nav a {
  cursor: pointer;
}
html body header #user-data img {
  height: 40px;
  width: 40px;
}
html body main section article .card-img-and-body {
  cursor: pointer;
}
html body main section article .card-header img {
  width: 40px;
  height: 40px;
  margin: 0;
}
html body main section article .comments {
  max-height: 200px;
  overflow-y: auto;
}
html body main section article .comments .write-comment textarea {
  resize: none;
  height: 60px;
}
html body main section article .comments .name-and-img {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
html body main section article .comments .name-and-img img {
  width: 30px;
  height: 30px;
  margin: 0;
}
html body main section article.loading {
  animation: loading 1s infinite linear;
}
@keyframes loading {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
}
html body main section article .post-details {
  cursor: unset;
}
html body main section article .user-image-and-name {
  cursor: pointer;
}
html body main .profile .img-and-name img {
  width: 80px;
  height: 80px;
}
html body main .profile p {
  margin-bottom: 0;
  font-size: 20px;
}
html body main .profile .numbers span {
  font-size: 30px;
}
html body #loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
html body #loader:before,
html body #loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(169, 169, 169, 0.75));
}
html body #loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #9b9b9b;
  animation-name: pulsIn;
}
html body #loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #9b9b9b;
}
@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #9b9b9b;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #9b9b9b;
    opacity: 0;
  }
}
@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #9b9b9b;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #9b9b9b;
    opacity: 1;
  }
}

html[data-bs-theme=light] ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px 2px rgba(185, 185, 185, 0.5);
}
html[data-bs-theme=light] body {
  background-color: #f4f4f4;
}
html[data-bs-theme=light] body header > div h3 {
  color: #000000;
}
html[data-bs-theme=light] body header > div .nav-masthead .nav-link {
  color: #747474;
  border-bottom: 0.25rem solid transparent;
}
html[data-bs-theme=light] body header > div .nav-masthead .nav-link:hover:not(.active) {
  border-bottom-color: #747474;
}
html[data-bs-theme=light] body header > div .nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
html[data-bs-theme=light] body header > div .nav-masthead .active {
  color: #000000;
  border-bottom-color: #222222;
}
html[data-bs-theme=light] body header > div nav > div.flex-shrink .my-btn {
  color: #000000;
}
html[data-bs-theme=light] body header > div nav > div.flex-shrink .my-btn:hover {
  color: #ffffff;
}

html[data-bs-theme=dark] ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px 2px rgba(49, 49, 49, 0.7);
}
html[data-bs-theme=dark] body {
  background-color: #222222;
}
html[data-bs-theme=dark] body header div .nav-masthead .nav-link {
  color: #a5a5a5;
  border-bottom: 0.25rem solid transparent;
}
html[data-bs-theme=dark] body header div .nav-masthead .nav-link:hover:not(.active) {
  border-bottom-color: #a5a5a5;
}
html[data-bs-theme=dark] body header div .nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
html[data-bs-theme=dark] body header div .nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
html[data-bs-theme=dark] body header div nav > div.flex-shrink .my-btn {
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */